body{
    width:100%;
    height:100%;
}

#content{
    width:30%;
    height:55%;
    margin:100px auto;
    background:#c1c1c1;
    text-align:center;
    overflow:hidden;
}

#content form{       
    padding:20px;
}

#photo{
    padding:20px;
}

#tab2{
    table-layout: fixed;
}

#back{
    text-align:left;
}

#back a{
    font-size:25px;
    text-decoration:none;
    color:rgb(96,0,0);
}

#back a:hover{
    font-size:30px;
    color:rgba(96,0,0,0.8);
}

#tpl{
    text-align:right;
    font-size:12px;
}
